<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Parkwisely User Information</title>
<style>
table, th, td {
	border: 1px solid black;
	border-spacing: 0px;
}

th, td {
	padding: 10px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<div th:if="${user.userId != 0}">
	<h2>Edit user Information</h2>
	<form action="#" th:action="@{/parkwisely/user/add}" method="POST" th:object="${user}">
		User Id <input type="text" id="userId" name="userId" th:value="${user.userId}" readonly="readonly" />
		<br /> 
		First Name <input type="text" id="firstName" name="firstName" th:value="${user.firstName}" />
		<br />
		Last Name <input type="text" id="lastName" name="lastName" th:value="${user.lastName}" />
		<br /> 
		Email Id <input type="text" id="emailId" name="emailId" th:value="${user.emailId}" />
		<br />
		Phone No <input type="text" id="phoneNo" name="phoneNo" th:value="${user.phoneNo}" />
		<br />
		Gender <input type="text" id="sex" name="sex" th:value="${user.sex}" />
		<br />
		Corporate Indicator <input type="text" id="corporateInd" name="corporateInd" th:value="${user.corporateInd}" />
		<br>
		  <input type="submit" name="Update" value="Update" /> 
	</form>
</div>


</html>